
@page
@using CaveroApp.Areas.Identity.Data
@model LoginModel
@inject SignInManager<CaveroAppUser> SignInManager
@inject UserManager<CaveroAppUser> UserManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_EmptyLayout";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/globals.css"/>
    <link rel="stylesheet" href="/css/styleguide.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section id="registration-page">
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>
    <form id="registerForm" class="signup-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <!-- FORM HEADER -->
        <div class="form-header">
            <img src="/img/caverologowhite.png"/>
            <h1>Sign In</h1>
        </div>
        <!-- FORM BODY -->
        <div class="form-body">
            <!-- Email -->
            <div class="row">
                <div class="input-group">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@cavero.nl"/>
                    <span asp-validation-for="Input.Email" class="text-danger" style="color: red; margin-top: 3px;"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                    <span asp-validation-for="Input.Password" class="text-danger" style="color: red; margin-top: 3px;"></span>
                </div>

            </div>
            <div class="row">
                <div class="remember-me-button">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" style="user-select: none" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <!--  FORM FOOTER   -->
            <div class="form-footer">
                <button id="registerSubmit" class="btn" type="submit">Log In</button>
            </div>
            <div class="row">
                <div class="password-reset">
                    <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                </div>
            </div>
            <div class="line"></div>
            <div class="form-footer">
                <a class="btn account-create" style="text-decoration: none" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Maak nieuw account</a>
            </div>
        </div>
    </form>
</section>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}