@page
@model ResetPasswordModel
@using CaveroApp.Areas.Identity.Data
@inject SignInManager<CaveroAppUser> SignInManager
@inject UserManager<CaveroAppUser> UserManager
@{
    ViewData["Title"] = "Reset password";
    Layout = "_EmptyLayout";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <section id="registration-page">
        <div class='air air1'></div>
        <div class='air air2'></div>
        <div class='air air3'></div>
        <div class='air air4'></div>
        <form id="registerForm" class="signup-form" asp-route-returnUrl="" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <!-- FORM HEADER -->
            <div class="form-header">
                <img src="/img/caverologowhite.png" />
                <h1>Reset Password</h1>
            </div>
            <!-- FORM BODY -->
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">

                            <input type="hidden" asp-for="Input.Code" />

                            <div class="form-group">
                                <label for="Input_Email">Email</label>
                                <input asp-for="Input.Email" class="form-control" readonly style="margin-top: 4px;"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                <br></br>
                            </div>

                            <div class="form-group">
                                <label for="Input_Password">New Password</label>
                                <input asp-for="Input.Password" class="form-control" style="margin-top: 4px;"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                <br></br>
                            </div>

                            <div class="form-group">
                                <label for="Input_ConfirmPassword">Confirm Password</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" style="margin-top: 4px;"/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                <br></br>
                            </div>

                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>

</html>

@* <h1>@ViewData["Title"]</h1> *@
@* <h2>Reset your password.</h2> *@
@* <hr /> *@
@* <div class="row"> *@
@* <div class="col-md-4"> *@
@* <form method="post"> *@
@* <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
@* <input asp-for="Input.Code" type="hidden" /> *@
@* <div class="form-floating mb-3"> *@
@* <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
placeholder="name@example.com" /> *@
@* <label asp-for="Input.Email" class="form-label"></label> *@
@* <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@* </div> *@
@* <div class="form-floating mb-3"> *@
@* <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
placeholder="Please enter your password." /> *@
@* <label asp-for="Input.Password" class="form-label"></label> *@
@* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@* </div> *@
@* <div class="form-floating mb-3"> *@
@* <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"
placeholder="Please confirm your password." /> *@
@* <label asp-for="Input.ConfirmPassword" class="form-label"></label> *@
@* <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@* </div> *@
@* <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button> *@
@* </form> *@
@* </div> *@
@* </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
