@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body {
}

.week-container {
    height: 85.5vh;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: minmax(0, min-content);
    grid-auto-flow: dense;
    grid-template-areas:
            "monday tuesday wednesday thursday friday";
    grid-gap: 10px;
    margin: 10px;
}

.day-wrapper {
    clear: both;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.day {
    text-align: center;
    clear: both;
    font-family: 'Montserrat', sans-serif;
}

.day > h1 {
    float: left;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

.day > h2 {
    float: right;
    padding: 5px;
    font-size: 25px;
    font-weight: 700;
}

.item {
    display: flex;
    align-items: center;
    max-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--collection-1-cavero-paars);
    text-align: center;
}

.item::-webkit-scrollbar-track {
    border-radius: 15px;
}

.item::-webkit-scrollbar {
    width: 10px;
    background-color: lightgrey;
    border-radius: 15px;
}

.item::-webkit-scrollbar-thumb {
    border-radius: 15px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--collection-1-cavero-paars);
}

.mon {
    grid-area: monday;
}

.tue {
    grid-area: tuesday;
}

.wed {
    grid-area: wednesday;
}

.thu {
    grid-area: thursday;
}

.fri {
    grid-area: friday;
}

@media only screen and (max-width: 900px) {
    .week-container {
        height: auto;
        display: inline-grid;
        align-items: center;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
                "monday"
                "tuesday"
                "wednesday"
                "thursday"
                "friday";
    }
    
    .day-wrapper {
        height: auto;
        display: inline-flex;
        width: 100%;
    }
    
    .item {
        height: 100%;
        flex-grow: 1;
        align-self: center;
        overflow-y: auto;
    }
}

