@page
@model CaveroApp.Pages.Aanwezig_button

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<div>
    @if (@Model.AvailableToday())
    {
        <form class="form-button" method="post" asp-page="Aanwezig_button">
            <button id="submitButton" class="button afwezig" onclick="@Model.SetUnavailable()">Zet jezelf afwezig</button>
        </form>
    }
    else
    {
        <form class="form-button" method="post" asp-page="Aanwezig_button">
            <button id="submitButton" class="button aanwezig" onclick="@Model.SetAvailable()">Zet jezelf aanwezig</button>
        </form> 
    }
    <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Disable the button on page load
                document.getElementById("submitButton").disabled = true;
    
                // Enable the button after a delay (e.g., 3000 milliseconds or 3 seconds)
                setTimeout(function () {
                    document.getElementById("submitButton").disabled = false;
                }, 1000);
            });
    </script>
</div>
</body>
</html>