@page
@model CaveroApp.Pages.Aanwezig_button

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<div>
    @if (@Model.AvailableToday())
    {
        <form class="form-button" method="post" asp-page="Aanwezig_button" asp-page-handler="SetUnavailable">
            <button id="submitButton" class="button afwezig">Zet jezelf afwezig</button>
        </form>
    }
    else
    {
        <form class="form-button" method="post" asp-page="Aanwezig_button" asp-page-handler="SetAvailable">
            <button id="submitButton" class="button aanwezig">Zet jezelf aanwezig</button>
        </form> 
    }
</div>
</body>
</html>