@page
@model CaveroApp.Pages.Aanwezig_button

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<div>
    <form method="post">
        <button id="submitButton" type="submit" asp-page-handler="@Model.ChangeStatus()" disabled>@Model.ButtonText</button>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Disable the button on page load
            document.getElementById("submitButton").disabled = true;

            // Enable the button after a delay (e.g., 3000 milliseconds or 3 seconds)
            setTimeout(function () {
                document.getElementById("submitButton").disabled = false;
            }, 3000);
        });
    </script>
</div>
</body>
</html>