@page
@model CaveroApp.Pages.Aanwezig_button

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<div>
    <button type="submit" onclick=@Model.ChangeStatus()>@Model.ButtonText</button>
</div>
</body>
</html>