@page
@using CaveroApp.Areas.Identity.Data
@model CaveroApp.Pages.Agenda
@inject SignInManager<CaveroAppUser> SignInManager

@{
    Layout = "Shared/CaveroLayoutResponsive";
    <link rel="stylesheet" href="css/layout.css" />
}

@section HeaderContent
{
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Hello @User.Identity?.Name!</h1>
        <p>...We are inside the agenda now.</p>
    }
}
<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="app"></div>
    <script src="/tempreact/src/index.js"></script>
  </body>
</html>
