@page
@model CaveroApp.Pages.Dashboard
@inject SignInManager<IdentityUser> SignInManager

@{
    Layout = "Shared/CaveroLayoutResponsive";
    <link rel="stylesheet" href="css/dashboard.css" />
}

@section HeaderContent
{
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Hello @User.Identity?.Name!</h1>
    }
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
</div>
</body>
</html>