@page
@using CaveroApp.Areas.Identity.Data
@model CaveroApp.Pages.Dashboard
@inject SignInManager<CaveroAppUser> SignInManager

@{
    Layout = "Shared/CaveroLayoutResponsive";
    <link rel="stylesheet" href="css/layout.css" />
}

@section HeaderContent
{
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Hello @User.Identity?.Name!</h1>
    }
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="main-body">
    <div class="card one">aaa</div>
    <div class="card two">aaa</div>
    <div class="card three">aaa</div>
    </div>
</body>
</html>