@page
@using System.Globalization
@using Humanizer
@model CaveroApp.Pages.Events

@{
    Layout = "Shared/CaveroLayoutResponsive";
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="css/TOBEREMOVED.css" />
}

@*Style for header content only.*@
<style>
    .header-text {
        color:  white;
        font-size: 25px;
        font-weight:  500;
        font-family: 'Montserrat', sans-serif;

    }
</style>

@section HeaderContent
{
    <div style="display: flex; align-content: space-between; flex-grow: 1;">
    <h1 class="header-text">
        @($"{@Model.Week.Item1.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)} - " +
          $"{@Model.Week.Item2.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)}")</h1>
    </div>
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="main">
    <div class="week-container">
        <div class="day-wrapper">
            <div class="day">
                <h1>Mon</h1>
                <h2>24</h2>
            </div>
            <div class="item mon" id="monday">
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="day-wrapper">
            <div class="day">
                <h1>Tue</h1>
                <h2>25</h2>
            </div>
            <div class="item tue">
            </div>
        </div>
        <div class="day-wrapper">
            <div class="day">
                <h1>Wed</h1>
                <h2>26</h2>
            </div>
            <div class="item wed">
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="day-wrapper">
            <div class="day">
                <h1>Thu</h1>
                <h2>27</h2>
            </div>
            <div class="item thu">
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="day-wrapper">
            <div class="day">
                <h1>Fri</h1>
                <h2>28</h2>
            </div>
            <div class="item fri">
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
                <div class="event-card">
                    <h1>Kookavond in de Loods</h1>
                    <p>16:00 - 18:00</p>
                    <p>Extern</p>
                    <div class="event-card-footer">
                        <div style="display: inline-flex; align-items: center;">
                            <img src="img/user-check-icon.png"/>
                            <p style="margin-left: 10px;">5</p> 
                        </div>
                        <div class="button info">INFO</div>
                        <div class="button sign-up">AANMELDEN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>