@page
@model CaveroApp.Pages.Events

@{
    Layout = "Shared/CaveroLayoutResponsive";
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/dashboard.css" /> 
    <link rel="stylesheet" href="css/events.css" />
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="main">
    <div class="week-container">
        <div class="day-wrapper">
            <div class="day">
                <h1>Mon</h1>
                <h2>24</h2>
            </div>
            <div class="item mon" id="monday">
                <div class="present-box">
                    <p>Aanwezige caverianen vandaag</p>
                    <div class="box-info">
                        <img src="img/image-8-2.png" alt="Person Icon"/>
                        <h1>1t</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="day-wrapper">
            <div class="day">
                <h1>Tue</h1>
                <h2>25</h2>
            </div>
            <div class="item tue">
                <div class="present-box">
                    <p>Aanwezige caverianen vandaag</p>
                    <div class="box-info">
                        <img src="img/image-8-2.png" alt="Person Icon"/>
                        <h1>1t</h1>
                    </div>
                </div>
                <div class="present-box">
                    <p>Aanwezige caverianen vandaag</p>
                    <div class="box-info">
                        <img src="img/image-8-2.png" alt="Person Icon"/>
                        <h1>1t</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="day-wrapper">
            <div class="day">
                <h1>Wed</h1>
                <h2>26</h2>
            </div>
            <div class="item wed">
            </div>
        </div>
        <div class="day-wrapper">
            <div class="day">
                <h1>Thu</h1>
                <h2>27</h2>
            </div>
            <div class="item thu">
            </div>
        </div>
                <div class="day-wrapper">
                        <div class="day">
                            <h1>Fri</h1>
                            <h2>28</h2>
                        </div>
                    <div class="item fri">
                        <div class="present-box">
                            <p>Aanwezige caverianen vandaag</p>
                            <div class="box-info">
                                <img src="img/image-8-2.png" alt="Person Icon"/>
                                <h1>1t</h1>
                            </div>
                        </div>
                        <div class="present-box">
                            <p>Aanwezige caverianen vandaag</p>
                            <div class="box-info">
                                <img src="img/image-8-2.png" alt="Person Icon"/>
                                <h1>1t</h1>
                            </div>
                        </div>
                        <div class="present-box">
                            <p>Aanwezige caverianen vandaag</p>
                            <div class="box-info">
                                <img src="img/image-8-2.png" alt="Person Icon"/>
                                <h1>1t</h1>
                            </div>
                        </div>
                        <div class="present-box">
                            <p>Aanwezige caverianen vandaag</p>
                            <div class="box-info">
                                <img src="img/image-8-2.png" alt="Person Icon"/>
                                <h1>1t</h1>
                            </div>
                        </div>
                        <div class="present-box">
                            <p>Aanwezige caverianen vandaag</p>
                            <div class="box-info">
                                <img src="img/image-8-2.png" alt="Person Icon"/>
                                <h1>1t</h1>
                            </div>
                        </div>

                    </div>
                    </div>
</div>
</div>
</body>
</html>