@page
@model CaveroApp.Pages.LoginView

@{
}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/styleguide.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="login">
      <div class="div">
        <div class="purple-block">
          <div class="overlap">
            <div class="frame">
              <div class="sign-in-block">
                <div class="overlap-group">
                  @* <div class="pink-circle"></div> *@
                  <div class="purple-circle"></div>
                </div>
                <div class="text-wrapper">Sign In</div>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh vitae...</p>
                <div class="email-block">
                  <div class="div-wrapper"><div class="text-wrapper-2">Email</div></div>
                </div>
                <div class="password-block"><div class="password">Wachtwoord</div></div>
                <div class="sign-in-button"><div class="log-in-text">Log in</div></div>
                <div class="text-wrapper-3">Wachtwoord vergeten?</div>
              </div>
              <img class="cavero-logo-white" src="img/caverologowhite.png" />
            </div>
            <div class="ellipse"></div>
          </div>
        </div>
        <div class="sign-up-title">Nieuw Hier?</div>
        <div class="overlap-2">
          <p class="sign-up-text">
            Maak hier een account aan<br />en maak je klaar om Cavero’s nieuwe sociale app<br />te gebruiken!
          </p>
          <button class="sign-up-button"><div class="text-wrapper-5">Sign Up</div></button>
        </div>
      </div>
    </div>
  </body>
</html>
