@page
@model CaveroApp.Pages.LoginView

@{
}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/globals.css" />
  <link rel="stylesheet" href="css/styleguide.css" />
  <link rel="stylesheet" href="css/test.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="sign-up-block">
    <div class="title-block">
          <div class="title firstname">Voornaam*</div>
          <div class="title lastname">Achternaam*</div>
          <div class="title email">Email*</div>
          <div class="title password">Wachtwoord*</div>
          <div class="title password-repeat">Wachtwoord herhalen*</div>
    </div>
  </div>
</div>
</body>
</html>
