@page
@model CaveroApp.Pages.testpage

@{
    Layout = "Shared/CaveroLayoutResponsive";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <title></title>
<style>

</style>
</head>
<body>
</body>
</html>

