@page
@model CaveroApp.Pages.testpage

@{
    Layout = "Shared/CaveroLayoutResponsive";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <title></title>
    <style>
        #eventDescription {
            max-width: 80vw; /* Set the maximum width to 80% of the viewport width */
            max-height: 40vh; /* Set the maximum height to 40% of the viewport height */
            width: 100%; /* Make sure it expands to 100% of its container width */
        }
    </style>
</head>
<body>
<div class="event-modal">
    <div class="event-modal-content">
        <div class="event-modal-header">
            <h1 style="justify-content: flex-start">Title</h1>
            <span class="close" style="justify-content: flex-start">&times;</span>
        </div>
        <div class="line"></div>
        <div class="event-modal-create">
            <div class="event-modal-row">
                <h1>Titel (max 20 karakters)</h1>
                <form method="post">
                    <input id="eventTitle" placeholder="..."/>
                </form>
            </div>
            <div class="event-modal-row">
                <h1>Beschrijving (max 100 karakters)</h1>
                <form method="post">
                    <textarea id="eventDescription" rows="6" cols="50" placeholder="..."></textarea>
                </form>
            </div>
            <div class="event-modal-row">
                <h1>Locatie (max 20 karakters)</h1>
                <form method="post">
                    <input id="eventLocation" placeholder="..."/>
                </form>
            </div>
            <div class="event-modal-row">
                <h1>Datum</h1>
                <form method="post">
                    <input id="eventLocation" placeholder="..."/>
                </form>
            </div>
            <div class="event-modal-row">
                <h1>Starttijd</h1>
                <form method="post">
                    <input class="timepicker" type="text"/>
                </form>
            </div>
            <div class="event-modal-row">
                <h1>Eindtijd</h1>
                <form method="post">
                    <input class="timepicker"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

