@page
@model CaveroApp.Pages.TestPage

@{
    Layout = "Shared/CaveroLayoutResponsive";
    <link rel="stylesheet" href="css/dashboard.css" />
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>